<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../milik.css">
    <link rel="stylesheet" href="../../../../lib/css/prism.css"/>
    <title>{{title}}</title>
  </head>
  <body>
    <main>
      <article>
        {{ content | safe }}
      </article>
    </main>
    <script src="../../../../lib/js/prism.js"></script>
  </body>
</html>